#macro (registerMessage $field) 
    #if (!$field.valid) $field.message #end
#end

<form action="" method="post"> 
  <input type="hidden" name="action" value="InquiryAction"/> 

  #set ($group = $form.inquiry.defaultInstance) 
  
  <p>用户查询</p>

  <dl>
    <dt>查询的类型</dt>
    <dd>
        <div>
			<select name="$group.inquiryType.key" value="$!group.inquiryType.value">
                <option value ="name">姓名</option>
                <option value ="phone">电话</option>
                <option value="email">邮箱</option>
             </select>
            <!--<input type="text" name="$group.inquiryType.key" value="$!group.inquiryType.value"/> -->
        </div>
        <div class="errorMessage">
            #registerMessage ($group.inquiryType) 
        </div>
    </dd>

    <dt>查询的信息</dt>
    <dd>
        <div>
            <input type="text" name="$group.inquiryContent.key" value="$!group.inquiryContent.value"/> 
        </div>
        <div class="errorMessage">
            #registerMessage ($group.inquiryContent) 
        </div>
    </dd>    
  </dl>
  
  <p>
      <input type="submit" name="event_submit_do_register" value="立即注册！"/> 
  </p>
  <table border="1">
    <tr>
    <th>name</th>
    <th>phone</th>
	<th>email</th>
    </tr>
  #if($inquiry) 
	#foreach( $userbean in $inquiry )
		
    <!--<li>$userbean</li>-->
	<tr>
    <td>$userbean.getUserId()</td>
    <td>$userbean.getPhone()</td>
	<td>$userbean.getEmail()</td>
    </tr>
    #end
  #end
  </table>
</form>