$page.setTitle("Hello")

<h1>Hello Shen</h1>

<ol>
<li>
    <h2>Register</h2>

    #set($url = "$app1Link.setTarget('simple/register')")
    <a href="$url">$url</a>
</li>
<li>
    <h2>Inquiry</h2>

    #set($url = "$app1Link.setTarget('simple/inquiry')")
    <a href="$url">$url</a>
</li>
<li>
    <h2>Include</h2>
    #set($url = "$app2Link.setTarget('simple/include')")
    <a href="$url">$url</a>
</li>
</ol>